@font-face {
    font-family: 'Graphik';
    src: url('./fonts/Graphik-Semibold.ttf')
  }
  

.aboutDiv {
    display: flex;
    flex-direction: column;
}

.aboutText {
    font-size: 2em;
    height: 90%;
    width: 60%;
    margin: auto;
    margin-top: 100px;
}


.aboutText > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-name {
    color: #d00202;
}