@font-face {
    font-family: 'Graphik';
    src: url('./fonts/Graphik-Semibold.ttf')
  }
  

.about-div {
    display: flex;
    font-family: 'GTWalsheimPro-Light';
    justify-content: center;
    padding-top: 200px;
    gap: 30px;
    padding: 120px 12% 150px;

}

.about-text {
    font-size: 1.5em;
    width: 50%;
    font-weight: 300;
    margin-top: 50px;
}

.about-me-name {
    width: 30%;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 50px;
}

.about-text > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-name {
    color: #d00202;
}