
.main-contact {
    display: flex;
    min-height: 100vh;
    background-color: white;
    padding: 250px 12% 150px;
    position: relative;
    z-index: 2;
    justify-content: center;
    font-family: 'GTWalsheimPro-Light';
    color: black;
  }

  .main-contact section {
    width: 70%;
  }

  a {
    color: black;
  }
  
  .contact-socials-div {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        gap: 5px 5px; 
  }
  
  
  .contact-header {
    margin-bottom: 100px;
  }
  
  .contact-header h1 {
    font-size: 5em;
  }

  .contact-header p {
    margin-top: 20px;
    width: 60%;
    font-size: 1em;
  }
  
  .contact-email {
    font-size: 1.5em;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-email > p:first-child {
    font-size: 0.8em;
    color: #0000008a;
  }
  
  .contact-socials {
    font-size: 1em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
  
  .contact-socials > p:first-child {
    color: #0000008a;
    font-weight: 700;
  }
  
  .contact-socials > p:last-child {
    cursor: pointer;
  }
  
  .contact-hover span {
    background-color: black;
    height: 2px;
    width: 0%;
    display: block;
    transition: 0.8s ease-in-out;
    margin-top: 2px;
  }
  
  .contact-hover:hover span {
    width: 100%;
  }