.homeDiv {
    display: flex;
    flex-direction: column;
}

.homeText {
    font-size: 11em;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 60%;
    font-family: 'Semibold';
    letter-spacing: -2px;
    flex: 1;
}

.homeText div:nth-child(2),
.homeText div:last-child {
    color: #ea0f1e
}


.figure {
    position: fixed;
}


.homeDiv > .socials {
    display: none;
}