.projectDiv {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    gap: 140px;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 100px;
}


.project {
    font-family: 'Graphik';
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
    cursor: pointer;
    color: white;
}

.project > h1 {
    font-size: min(8vw, 5em);
    color: black;
}
.project > p {
    color: #d00202;
    font-size: min(5vw, 1.4em);
}


.project:hover {
    transition: all .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    cursor: pointer;
    transform: translateX(50px);
}






/*___________________________________________________

                Projects pages
_____________________________________________________*/







.project-page{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    min-height: 100%;
    font-family: 'Poppins';
    font-weight: 900;
}

.project-description {
    align-self: flex-end;
    font-size: 1.5em;
    padding: 40px 0px 0px 0px;
    color: black;
}

.project-title {
    font-size: 5vw;
    margin-top: 100px;
}

.project-page > p {
    color: #d00202;
    font-size: min(4vw, 1.4em);
}

.imgsDiv {
    display: flex;
    gap: 100px;
    flex-direction: column;
    width: 80%;
    margin: 150px auto;
}

.imgsDiv hr {
    width: 80%;
    margin: auto;
}

.imgsDiv img {
    width: 50vw;
    height: auto;
}

.imgsDiv img:last-child {
    align-self: flex-end;
}


.project-imgs {
    display: flex;
    justify-content: space-around;
}

.project-imgs h1 {
    align-self: center;
    font-size: min(4vw, 1.4em);
}

.projectLink {
    align-self: flex-end;
    display: flex;
    gap: 10px;
    font-size: min(3vw, 1.2em);
    flex-direction: column;
}

.projectLink span {
    color: rgb(151, 175, 247);
}

.projectLink > div {
    display: flex;
    gap: 5px;
}

.projectLink a {
    align-self: flex-end;
}